# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec

# Inno Setup output
Output/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
